@model LibraryManagementSystem.Models.LibraryMember
@{
    ViewData["Title"] = "Library Member Details";
}

<h2>Library Member Details</h2>

<div>
    <h4>Library Member</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Full Name</dt>
        <dd class="col-sm-10">@Model.FullName</dd>

        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.Email</dd>

        <dt class="col-sm-2">Phone Number</dt>
        <dd class="col-sm-10">@Model.PhoneNumber</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LibraryMemberId" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
